@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

:root {
  --color-primary: #2D9596;
  --color-secondary: #ECF4D6;
  --color-tertiary: #265073;
  --color-quaternary: #B3F3E0;
  --font-title: 700 2rem 'Jost', sans-serif;
  --font-paragraph: 400 1.875rem 'Jost', sans-serif;
  --font-subtitleAboutUs: 700 1.25rem 'Jost', sans-serif;
  --font-paragraphAboutUs: 400 0.875rem 'Jost', sans-serif;
  --font-links: 400 1rem 'Jost', sans-serif;
}


* {
	font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:  var(--color-secondary);
    font: var(--font-links);
}

ul {
display: flex;
list-style: none;
}

* {
  font-family: 'Jost', sans-serif;
}

* {
margin: 0;
padding: 0;
}

.header-nav {
  height: 6rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo-link {
  width: 10%;
  height: auto;
  padding-top: 7px;
}

.header-logo {
    width: 80%;
    height: auto;
}

.header-links{
color: var(--color-secondary);
}

.header-links:hover {
  color: var(--color-tertiary);
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
  gap: 1.5rem;
}

.header-instruments-menu .header-links{
    color: var(--color-primary);
}

.header-instruments-menu .header-links:hover{
    color: var(--color-tertiary);
}

.header-instruments-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--color-secondary); 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1); 
  }
  
  .header-instruments-menu li {
    padding: .8rem;
  }
  
  .header-instrumentos:hover .header-instruments-menu {
    display: block;
  }
  

body {
  background-color: var(--color-secondary);
}

.show-notes {
  margin-left: 25px;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-subtitleAboutUs);
  background-color: var(--color-primary);
  color: #f7fefc;
  width: 30%;
  height: 100px;
  margin: auto;
  gap: 5px;
  margin-top: 50px;
}

input[type="number" i] {
  font-size: var(--font-paragraph);
  padding-left: 5px;
} 

input[type="radio" i] {
height: 20px;
width: 20px;
}

.fretboard {
  display: flex;
  flex-direction: column;
  background: #1a0e03 url(images/wood-pattern\ \(1\).png);
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

.string {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.string:before {
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(#eee, #999);
  box-shadow: 76px 3px 10px #0e0703;
  z-index: 1;
  position: absolute;
  top: 22px;
}

.note-fret {
  display: flex;
  flex: 1;
  border-right: 10px solid;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.note-fret:first-child {
  background: #161717;
  min-width: 76px;
  border-right: 12px solid;
  flex-grow: 0;
  flex-shrink: 0;
  border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note-fret:before {
  content: C;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  /* background: #265073; */
  z-index: 2;
  color: #eee;
}

.single-fretmark:after,
.double-fretmark:before,
.double-fretmark:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #161717;
}

.single-fretmark:after {
  top: calc(var(--fretboard-height) / 2 * 1px);
  transform: translate(0, -50%);
}

.double-fretmark:before {
  top: calc(var(--double-fretmark-position-1) * 1px);
  transform: translate(-140%, -50%);
}
.double-fretmark:after {
  top: calc(var(--double-fretmark-position-2) * 1px);
  transform: translate(-140%, -50%);
}

.note-name-section {
  width: 100%;
  color: #fff;
  font-weight: 100;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}
.note-name-section span {
  padding: 10px;
  cursor: pointer;
}
.note-name-section span:hover {
  color: var(--color-primary);
}

.instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.select-frets, .select-notes, .press-notes {
  background-color: var(--color-primary);
  color: #f7fefc;
  font-size: var(--font-paragraph);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 15%;
  height: 150px;
  border-radius: 0 50px 50px 50px;
  margin-top: 50px;
  padding: 20px;
}

.instruction-steps {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.play-song {
  color: var(--color-primary);
  font-weight: bold;
  margin-top: 60px;
  padding: 40px;
  font-size: var(--font-subtitleAboutUs);
  justify-content: center;
  text-align: center;
}

.footer-container {
  height: 4rem;
  background-color: var(--color-primary);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 2rem;
  box-sizing: border-box;
  height: 100%;
  padding: .5rem;
}

.footer-icons{
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.footer-icon {
  color: var(--color-secondary);
  font-size: 1.25rem;
}

.footer-icon:hover {
  color: var(--color-tertiary);
}

.footer-info {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}


.footer-email:hover{
  color: var(--color-tertiary);
}

