


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7fefc;
}

.show-notes {
  margin-left: 25px;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  background-color: #2d9596;
  color: #f7fefc;
  width: 30%;
  height: 100px;
  margin: auto;
  gap: 5px;
  margin-top: 50px;
}

.fretboard {
  display: flex;
  flex-direction: column;
  background: #1a0e03 url(images/wood-pattern\ \(1\).png);
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

.string {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.string:before {
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(#eee, #999);
  box-shadow: 76px 3px 10px #0e0703;
  z-index: 1;
  position: absolute;
  top: 22px;
}

.note-fret {
  display: flex;
  flex: 1;
  border-right: 10px solid;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.note-fret:first-child {
  background: #161717;
  min-width: 76px;
  border-right: 12px solid;
  flex-grow: 0;
  flex-shrink: 0;
  border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note-fret:before {
  content: attr(data-note);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  /* background: #265073; */
  z-index: 2;
  color: #eee;
  opacity: var(--noteDotOpacity);
}

.single-fretmark:after,
.double-fretmark:before,
.double-fretmark:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #161717;
}

.single-fretmark:after {
  top: calc(var(--fretboard-height) / 2 * 1px);
  transform: translate(0, -50%);
}

.double-fretmark:before {
  top: calc(var(--double-fretmark-position-1) * 1px);
  transform: translate(-140%, -50%);
}
.double-fretmark:after {
  top: calc(var(--double-fretmark-position-2) * 1px);
  transform: translate(-140%, -50%);
}

.note-name-section {
  width: 100%;
  color: #fff;
  font-weight: 100;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}
.note-name-section span {
  padding: 10px;
  cursor: pointer;
}
.note-name-section span:hover {
  color: #00baba;
}

.instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.select-frets, .select-notes, .press-notes {
  background-color: #2d9596;
  color: #f7fefc;
  font-size: 21px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 12%;
  height: 150px;
  border-radius: 0 50px 50px 50px;
  margin-top: 50px;
  padding: 40px;
}

.instruction-steps {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.play-song {
  color: #2d9596;
  font-weight: bold;
  margin-top: 100px;
  padding: 40px;
  font-size: 21px;
  justify-content: center;
  text-align: center;
}

