.main-container-aboutus{
background-color: var(--color-quaternary);
color: var(--color-tertiary);
display: flex;
flex-direction: column;

}
.main-green{
background-color: var(--color-secondary);
padding: 0 10rem;
}
.main-blue{
padding: 0 10rem;
}

.main-green > h1 {
font: var(--font-title);
display: flex;
justify-content: center;
}

.main-teachers-guitar, .main-teachers-other{
display: flex;
margin: 3rem;
}

.main-teacher{
display: flex;
align-items: center;
flex-direction: column;
width: 50rem;
gap: 1rem;
}

.main-teacher-title{
font: var(--font-paragraph2);
}

.vertical-line {
   width:  2rem;
  height: .25rem;
  background-color: var(--color-primary);
}


.main-teacher-description{
font: var(--font-text);
text-align: center;
width: 18rem;
}

