.main-container-aboutus{
background-color: var(--color-quaternary);
color: var(--color-tertiary);
display: flex;
flex-direction: column;
}

.main-green{
background-color: var(--color-secondary);
padding: 0 10rem;
}
.main-blue{
padding: 0 10rem;
}

.main-green > h1 {
font: var(--font-title);
display: flex;
justify-content: center;
}

.main-teachers-guitar, .main-teachers-other{
display: flex;
margin: 3rem 3rem 3rem 0rem; 
}

.main-teacher{
display: flex;
align-items: center;
flex-direction: column;
width: 50rem;
gap: 1rem;
}

.main-teacher-title{
font: var(--font-paragraph2);
width: 20rem;
text-align: center;
}

.vertical-line {
  width:  2rem;
  height: .25rem;
  background-color: var(--color-primary);
}


.main-teacher-description{
font: var(--font-text);
text-align: center;
width: 18rem;
}

@media (max-width: 932px) {
.main-green > h1 {
font: var(--font-m-title);
}
.main-teachers-guitar, .main-teachers-other{
flex-direction: column;
margin: 1rem;
}
.main-teacher{
width: auto;
gap: 1.5rem;
margin-bottom: 3rem;
}
.main-teacher-title{
display: flex;
justify-content: center;
font: var(--font-m-paragraph);
}

.main-teacher-description{
font: var(--font-m-text);
width: 40rem;
}

.main-teacher-photo{
width: 9rem;
}
}

@media (max-width: 600px) {
.main-teacher{
width: auto;
gap: 1.5rem;
margin-bottom: 3rem;
}

.main-teacher-description{
width: 18rem;
}

.main-teacher-photo{
width: auto;
}

.main-green > h1 {
margin-top: 2rem;
}
}
