.show-notes {
  margin-left: 1.5rem;
}
.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  color: var(--color-tertiary);
  width: 60%;
  height: 6.25rem;
  margin: auto;
  gap: 0.375rem;
  margin-top: 2.125rem;
  font-size: 1.4rem;
}

.control-panel > label {
  font-size: var(--font-text);
}

input[type="number" i] {
  font: var(--font-paragraph2);
  padding-left: 0.7rem;
  padding-right: 0.3rem;
  border-radius: 20px;
}
input[type="radio" i] {
  height: 1.25rem;
  width: 1.25rem;
}
.fretboard {
  display: flex;
  flex-direction: column;
  background: #1a0e03 url(/assets/img/wood-patern.png);
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
.string {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.string:before {
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(#eee, #999);
  box-shadow: 76px 3px 10px #0e0703;
  z-index: 1;
  position: absolute;
  top: 22px;
}
.note-fret {
  display: flex;
  flex: 1;
  border-right: 10px solid;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.note-fret:first-child {
  background: #161717;
  min-width: 76px;
  border-right: 12px solid;
  flex-grow: 0;
  flex-shrink: 0;
  border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}
.note-fret:before {
  content: attr(data-note);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  background: var(--color-tertiary);
  z-index: 2;
  color: #fff;
  opacity: var(--noteDotOpacity);
}
.single-fretmark:after,
.double-fretmark:before,
.double-fretmark:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #161717;
}
.single-fretmark:after {
  top: calc(var(--fretboard-height) / 2 * 1px);
  transform: translate(0, -50%);
}
.double-fretmark:before {
  top: calc(var(--double-fretmark-position-1) * 1px);
  transform: translate(-140%, -50%);
}
.double-fretmark:after {
  top: calc(var(--double-fretmark-position-2) * 1px);
  transform: translate(-140%, -50%);
}
.note-name-section {
  width: 100%;
  color: var(--color-quaternary);
  font-weight: 100;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}
.note-name-section span {
  padding: 10px;
  cursor: pointer;
}
.note-name-section span:hover {
  color: var(--color-primary);
}
.instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.select-frets,
.select-notes,
.press-notes {
  background-color: #ecf4d6;
  color: var(--color-tertiary);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 17%;
  height: 150px;
  border-radius: 0 30px 30px 30px;
  margin-top: 50px;
  padding: 20px;
}
.instruction-steps {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  font-size: 1.25rem;
  font-weight: 520;
  text-align: center;
}

.mobile-instructions {
  display: none;
}

/* Añadiendo Vibración a las cuerdas */

.note-name-section {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2px, -6px);
  }
  20% {
    transform: translate(3px, 5px);
  }
  30% {
    transform: translate(-5px, -2px);
  }
  40% {
    transform: translate(4px, 7px);
  }
  50% {
    transform: translate(-7px, -3px);
  }
  60% {
    transform: translate(6px, 6px);
  }
  70% {
    transform: translate(-8px, -4px);
  }
  80% {
    transform: translate(7px, 3px);
  }
  90% {
    transform: translate(-6px, -5px);
  }
}

.string.vibrating::before {
  animation: vibrate 0.7s infinite ease-in-out;
}



@media (max-width: 932px) {
  .instructions {
    display: none;
  }

  .mobile-instructions {
    display: none;
  }

  #header-guitar {
    position: static;
  }

  .menu {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .control-panel {
    width: 90%;
    height: 3rem;
  }

/* Limitar el número de trastes a 12 */
 .note-fret:nth-child(n+13) {
   display: none;
 }
 .note-fret {
   width: 2em;
      height: 100%;

 }
}

@media (max-width: 600px) {

  .mobile-instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

.play-time {
  background-color: #ecf4d6;
  color: var(--color-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 30px;
  margin-top: 30px;
}


.fret-select,
.note-select,
.note-press,
.change-orientation {
  background-color: #ecf4d6;
  color: var(--color-tertiary);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 60%;
  height: 110px;
  border-radius: 0 30px 30px 30px;
  margin-top: 30px;
  padding: 20px;
}
.mobile-steps {
  font-size: 1rem;
  text-align: center;
  align-items: center;
}

.mobile-steps-centerized {
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

  .main-container-guitar {
    display: none;
  }
  