@import "/src/css/components/style-header.css";
@import "/src/css/components/style-footer.css";




/*HERO*/
.hero-section{
    background-color: var(--color-secondary);
    min-height: 680px;
}

.hero-title-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.hero-title{
    width: 40%;
    font-size: 2.8rem;
    color:#265073;
    text-align: center
}

.hero-logo-img{
   height: 300px;
   width: 200px;
}

.hero-imgs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-logo{
    display: flex;
    justify-content: center;
}

.main-students{
    display: flex;
    justify-content: space-around;    
}



/*DESCRIPTION-CTA*/
.home-description-section{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-description-container{
    width: 60%;
    text-align: center;
    padding-bottom: 70px;
}

.home-description{
    color: #265073;
    font-size: 1.5rem;
}

.cta-container{
    width: 30%;
    padding: 15px;
    background-color: #265073;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cta-text{
    color: #ECF4D6;
    font-size: 2rem;
    padding-right: 15px;
}



/*INSTRUMENS*/
.home-instruments-section{
    min-height: 500px;
    background-color: #F1FDF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intruments-title{
    width: 40%;
    font-size: 2.4rem;
    color: #265073;
    padding-bottom: 60px;
}

.home-instruments-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instrument-icon-container{
    background-color: #2D9596;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #265073;
}




/***********************MEDIAQUERIES*********************/

@media only screen and (max-width: 576px) {
    /*HERO*/
    .hero-section{
        background-color: var(--color-secondary);
        min-height: 1320px;
    }
    .hero-title-logo-container{
        padding: 40px 10px 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .hero-title{
        width: 100%;
        font-size: 2.3rem;
    }
   
    .hero-logo{
        max-height: 300px;
    }
    .hero-logo-img{
        width: 100px;
        height: 150px;
    }
    .hero-imgs-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }



    /*DESCRIPTION-CTA*/
    .home-description-section{
        margin-top: 70px;
        padding: 0 18px;
    }

    .home-description-container{
        width: 100%;
        padding-bottom: 40px;
    }

    .cta-container{
        width: 80%;
        padding: 12px;
    }

    .cta-text{
        font-size: 1.6rem;
        padding-right: 15px;
    }



    /*INSTRUMENTS*/
    .home-instruments-section{
        padding-top: 30px;
        padding-bottom: 60px;
        margin-top: 100px;
        min-height: 500px;
        background-color: #F1FDF9;
    }
    .home-instruments-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .intruments-title{
        padding: 0 10px;
        width: 100%;
        font-size: 2.1rem;
        color: #265073;
        padding-bottom: 60px;
    }
    footer{
        display: none;
    }
}