.header-nav {
  height: 4rem;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo-link {
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 5rem;
  height: auto;
}
.header-links{
font: var(--font-paragraph2);
color: var(--color-tertiary);
}

.header-links:hover {
  color: var(--color-primary);
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
  gap: 1.5rem;
}


.header-instruments-menu .header-links{
  font: var(--font-text2);
  color: var(--color-secondary);
}

.header-instruments-menu .header-links:hover{
    color: var(--color-primary);
}


.header-instruments-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--color-tertiary); 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1); 
  }
  
  
  .header-instruments-menu li {
    padding: .4rem;
  }
  
  
  .header-instruments:hover .header-instruments-menu {
    display: block;
  }