@import "/src/css/components/style-header.css";
@import "/src/css/components/style-footer.css";


/*HERO*/
.hero-section{
    background-color: var(--color-secondary);
}
.hero-title-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-title{
    background-color: red;
    color:#265073;
}
.hero-logo{
    background-color: red;
}
.hero-imgs-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo{
    display: flex;
    justify-content: center;
}
.main-students{
    display: flex;
    justify-content: space-around;    
}

/*DESCRIPTION-CTA*/
.main-description{
    display: flex;
    justify-content: center;
}

.main-subtitle{
    color: #265073;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-left: 11rem;
    padding-right: 11rem;
}

.home-main-description{
display: flex;
justify-content: center;
color: #265073;
max-width: 80%4 ;
padding-left: 15rem;
padding-right: 15rem;
padding-top: 2rem;
padding-bottom: 2rem;
text-align: center;
font-size: 1.875rem;  
}


/*INSTRUMENS*/
.home-main-instruments{
    min-height: 500px;
    background-color: #F1FDF9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}