@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

:root {
--color-primary: #2D9596;
--color-secondary: #ECF4D6;
--color-terciary: #265073;
--color-quaternary: #B3F3E0;
--font-title: 700 64px 'Jost', sans-serif;
--font-paragraph: 400 30px 'Jost', sans-serif;
--font-subtitleAboutUs: 700 20px 'Jost', sans-serif;
--font-paragraphAboutUs: 400 14px 'Jost', sans-serif;
--font-links: 400 16px 'Jost', sans-serif;
}

* {
	font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
display: flex;
list-style: none;
}
