@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

:root {
--color-primary: #2D9596;
--color-secondary: #ECF4D6;
--color-tertiary: #265073;
--color-quaternary: #F8FEFC;
--font-title: 700 4rem 'Jost', sans-serif;
--font-title2: 700 3.5rem 'Jost', sans-serif;
--font-button: 500 2.25rem 'jost'.sans-serif;
--font-paragraph: 400 2.25rem 'Jost', sans-serif;
--font-paragraph2: 500 1.5rem 'Jost', sans-serif;
--font-text: 400 1rem 'Jost', sans-serif;

/* version mobile */

--font-m-title: 700 2.5rem 'Jost', sans-serif;
--font-m-title2: 700 2rem 'Jost', sans-serif;
--font-m-paragraph: 400 1.5rem 'Jost', sans-serif;
--font-m-text: 400 .875rem 'Jost', sans-serif;

/* Guitar specific styles for interactions */

--noteDotOpacity: 1;

}

* {
	font-family: 'Jost', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
display: flex;
list-style: none;
}


@media (max-width:926px){
    footer{
        display: none;
    }
}
